

  /* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    .scrolling-wrapper {
        display:flex;
        white-space: nowrap;
        max-width: 100%;
        min-width: 100%;
        
    
        .chart-card{
            display: inline-block;
            border-radius: 10px;
            margin: 20px;
            min-height: auto;
            max-height: auto;
            min-width: auto;
            max-width: auto;
            padding-right: 100px;
            
          }
         
    }
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    .scrolling-wrapper {
        display:flex;
        white-space: nowrap;
        max-width: 100%;
        min-width: 100%;
        
    
        .chart-card{
            display: inline-block;
            border-radius: 10px;
            margin: 20px;
            min-height: auto;
            max-height: auto;
            min-width: auto;
            max-width: auto;
            padding-right: 100px;
            
          }
         
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .scrolling-wrapper {
        display:flex;
        overflow-x: scroll;
        white-space: nowrap;
        max-width: 100%;
        min-width: 100%;
        -webkit-overflow-scrolling: touch;
        
        .chart-card{
            display: inline-block;
            border-radius: 10px;
            margin: 20px;
            min-height: auto;
            max-height: auto;
            min-width: auto;
            max-width: auto;
            padding-right: 100px;
          }

       
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    .scrolling-wrapper {
       
        display:flex;
        overflow-x: scroll;
        white-space: nowrap;
        max-width: 100%;
        min-width: 100%;
        -webkit-overflow-scrolling: touch;
        
        .chart-card{
            display: inline-block;
            border-radius: 10px;
            margin: 20px;
            min-height: auto;
            max-height: auto;
            min-width: auto;
            max-width: auto;
            padding-right: 100px;
          }

       
    }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    .scrolling-wrapper {
       
        display:flex;
        overflow-x: scroll;
        white-space: nowrap;
        max-width: 100%;
        min-width: 100%;
        -webkit-overflow-scrolling: touch;
        
        .chart-card{
            display: inline-block;
            border-radius: 10px;
            margin: 20px;
            min-height: auto;
            max-height: auto;
            min-width: auto;
            max-width: auto;
            padding-right: 100px;
          }

       
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    .scrolling-wrapper {
       
        display:flex;
        overflow-x: scroll;
        white-space: nowrap;
        max-width: 100%;
        min-width: 100%;
        -webkit-overflow-scrolling: touch;
        
        .chart-card{
            display: inline-block;
            border-radius: 10px;
            margin: 20px;
            min-height: auto;
            max-height: auto;
            min-width: auto;
            max-width: auto;
            padding-right: 100px;
          }

       
    }
    
  }